*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body{
    font-size:20px;
    background-color: rgb(255, 255, 255);
    color:rgb(14, 9, 9);
    scroll-behavior: smooth;
    font-family:'Roboto', sans-serif;
    
}

.wrapper{
    height: auto;
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 100px;
    row-gap: 40px;
}

.wrapper-child{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}

h1{
    text-align: center;
}

img{
    
    border: 1px dotted black
}