*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body{
    font-size:20px;
    background-color: rgb(255, 255, 255);
    color:rgb(14, 9, 9);
    scroll-behavior: smooth;
    font-family:'Roboto', sans-serif;
    
}

.wrapper{
    height: 100vh;
    display:grid;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

h1{
    text-align: center;
}

img{
    height: 80vh;
}